In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import analytica as alt
import numpy as np
import pandas as pd

In [3]:
a = np.array(['a', 'b', 'c'])
b = np.array(['c', 'd', None])
c = np.random.rand(3)
d = np.array([True, False, True])
e = np.array([1, 2, 3])
f = np.array([3.4, np.nan, 5.1])

data_dict = {'a': a, 'b': b, 'c': c, 'd': d, 'e': e, 'f':f}

In [4]:
alt_df = alt.DataFrame(data_dict)
pd_df = pd.DataFrame(data_dict)

In [5]:
a1 = np.array(['a', 'b', 'c'])
b1 = np.array(['c', 'd', 'e'])
c1 = np.array(['f', 'g', 'h'])
d1 = np.array(['i', 'j', None])
e1 = np.array(['k', None, 'l'])
f1 = np.array(['m', 'n', None])

data_dict = {'a': a1, 'b': b1, 'c': c1, 'd': d1, 'e': e1, 'f':f1}

alt_df2 = alt.DataFrame(data_dict)
pd_df2 = pd.DataFrame(data_dict)

In [6]:
print(len(alt_df))
print(len(pd_df))

3
3

In [7]:
print(alt_df.columns)
print(pd_df.columns)

['a', 'b', 'c', 'd', 'e', 'f']
Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [8]:
alt_df.columns = ['f', 'g', 'h', 'i', 'j', 'k']
pd_df.columns = ['f', 'g', 'h', 'i', 'j', 'k']

print(alt_df.columns)
print(pd_df.columns)

alt_df.columns = ['a', 'b', 'c', 'd', 'e', 'f']
pd_df.columns = ['a', 'b', 'c', 'd', 'e', 'f']

['f', 'g', 'h', 'i', 'j', 'k']
Index(['f', 'g', 'h', 'i', 'j', 'k'], dtype='object')

In [9]:
print(alt_df.shape)
print(pd_df.shape)

(3, 6)
(3, 6)

In [10]:
print(print(pd_df.dtypes))
alt_df.dtypes

a     object
b     object
c    float64
d       bool
e      int64
f    float64
dtype: object
None

In [11]:
print(alt_df.values)
print(pd_df.values)

[['a' 'c' 0.9542040367578534 True 1 3.4]
 ['b' 'd' 0.8170427288911433 False 2 nan]
 ['c' None 0.6758098227642219 True 3 5.1]]
[['a' 'c' 0.9542040367578534 True 1 3.4]
 ['b' 'd' 0.8170427288911433 False 2 nan]
 ['c' None 0.6758098227642219 True 3 5.1]]

# Col Indexing

In [12]:
print(pd_df['b'])
alt_df['b']

0       c
1       d
2    None
Name: b, dtype: object

In [13]:
print(pd_df[['e', 'b']])
alt_df[['e', 'b']]

   e     b
0  1     c
1  2     d
2  3  None

In [14]:
print(pd_df[d])
alt_df[alt.DataFrame({'d': d})]

   a     b         c     d  e    f
0  a     c  0.954204  True  1  3.4
2  c  None  0.675810  True  3  5.1

In [15]:
print(pd_df.iloc[1,2])
alt_df[1,2]

0.8170427288911433

In [16]:
print(pd_df.loc[1,'b'])
alt_df[1,'b']

d

In [17]:
print(pd_df.loc[d, 'b'])
alt_df[alt.DataFrame({'d': d}), 'b']

0       c
2    None
Name: b, dtype: object

# Row, Col Indexing

In [18]:
print(pd_df.loc[[1,2], 'b'])
alt_df[[1,2], 'b']

1       d
2    None
Name: b, dtype: object

In [19]:
print(pd_df.loc[1:3, 'b'])
alt_df[1:3, 'b']

1       d
2    None
Name: b, dtype: object

In [20]:
print(pd_df.loc[1:3, ['a','b','c']])
alt_df[1:3, ['a','b','c']]

   a     b         c
1  b     d  0.817043
2  c  None  0.675810

In [21]:
print(pd_df.iloc[1:3, [0,1,2]])
alt_df[1:3, [0,1,2]]

   a     b         c
1  b     d  0.817043
2  c  None  0.675810

In [22]:
alt_df[1:3, ['a',1,2]]

In [23]:
print(pd_df.loc[1:3, 'a':'c'])
alt_df[1:3, 'a':'c']

   a     b         c
1  b     d  0.817043
2  c  None  0.675810

In [24]:
print(pd_df.iloc[1:3, :3])
alt_df[1:3, :3]

   a     b         c
1  b     d  0.817043
2  c  None  0.675810

# Row Indexing

In [25]:
print(pd_df.iloc[1])
alt_df[1]

a           b
b           d
c    0.817043
d       False
e           2
f         NaN
Name: 1, dtype: object

In [26]:
print(pd_df.iloc[[1,2]])
alt_df[[1,2]]

   a     b         c      d  e    f
1  b     d  0.817043  False  2  NaN
2  c  None  0.675810   True  3  5.1

In [27]:
print(pd_df.iloc[1:3])
alt_df[1:3]

   a     b         c      d  e    f
1  b     d  0.817043  False  2  NaN
2  c  None  0.675810   True  3  5.1

# Min

In [28]:
print(pd_df.min())
alt_df.min()

a          a
c    0.67581
d      False
e          1
f        3.4
dtype: object

In [29]:
print(pd_df.min(axis=1))
alt_df.min(axis=1)

0    0.954204
1    0.000000
2    0.675810
dtype: float64

In [30]:
print(pd_df2.min())
alt_df2.min()

a    a
b    c
c    f
dtype: object

In [31]:
print(pd_df2.min(axis=1))
alt_df2.min(axis=1)

0   NaN
1   NaN
2   NaN
dtype: float64

In [32]:
print(pd_df2[['a','b','c']].min())
alt_df2[['a','b','c']].min()

a    a
b    c
c    f
dtype: object

In [33]:
print(pd_df2[['a','b','c']].min(axis=1))
alt_df2[['a','b','c']].min(axis=1)

0    a
1    b
2    c
dtype: object

# Max

In [34]:
print(pd_df.max())
alt_df.max()

a           c
c    0.954204
d        True
e           3
f         5.1
dtype: object

In [35]:
print(pd_df.max(axis=1))
alt_df.max(axis=1)

0    3.4
1    2.0
2    5.1
dtype: float64

In [36]:
print(pd_df2.max())
alt_df2.max()

a    c
b    e
c    h
dtype: object

In [37]:
print(pd_df2.max(axis=1))
alt_df2.max(axis=1)

0   NaN
1   NaN
2   NaN
dtype: float64

In [38]:
print(pd_df2[['a','b','c']].max())
alt_df2[['a','b','c']].max()

a    c
b    e
c    h
dtype: object

In [39]:
print(pd_df2[['a','b','c']].max(axis=1))
alt_df2[['a','b','c']].max(axis=1)

0    f
1    g
2    h
dtype: object

# Mean

In [40]:
print(pd_df.mean())
alt_df.mean()

c    0.815686
d    0.666667
e    2.000000
f    4.250000
dtype: float64

In [41]:
print(pd_df.mean(axis=1))
alt_df.mean(axis=1)

0    1.588551
1    0.939014
2    2.443952
dtype: float64

In [42]:
print(pd_df2.mean())
alt_df2.mean()

Series([], dtype: float64)

[]

In [43]:
print(pd_df2.mean(axis=1))
alt_df2.mean(axis=1)

0   NaN
1   NaN
2   NaN
dtype: float64

# Median

In [44]:
print(pd_df.median())
alt_df.median()

c    0.817043
d    1.000000
e    2.000000
f    4.250000
dtype: float64

In [45]:
print(pd_df.median(axis=1))
alt_df.median(axis=1)

0    1.000000
1    0.817043
2    2.000000
dtype: float64

In [46]:
print(pd_df2.median())
alt_df2.median()

Series([], dtype: float64)

[]

In [47]:
print(pd_df2.median(axis=1))
alt_df2.median(axis=1)

0   NaN
1   NaN
2   NaN
dtype: float64

# Sum

In [48]:
print(pd_df.sum())
alt_df.sum()

a        abc
c    2.44706
d          2
e          6
f        8.5
dtype: object

In [49]:
print(pd_df.sum(axis=1))
alt_df.sum(axis=1)

0    6.354204
1    2.817043
2    9.775810
dtype: float64

In [50]:
print(pd_df2.sum())
alt_df2.sum()

a    abc
b    cde
c    fgh
dtype: object

In [51]:
print(pd_df2.sum(axis=1))
alt_df2.sum(axis=1)

0    0.0
1    0.0
2    0.0
dtype: float64

# ArgMax

In [52]:
print(pd_df)
alt_df.argmax()

   a     b         c      d  e    f
0  a     c  0.954204   True  1  3.4
1  b     d  0.817043  False  2  NaN
2  c  None  0.675810   True  3  5.1

In [53]:
print(pd_df2)
alt_df2.argmax()

   a  b  c     d     e     f
0  a  c  f     i     k     m
1  b  d  g     j  None     n
2  c  e  h  None     l  None

# ArgMin

In [54]:
print(pd_df)
alt_df.argmin()

   a     b         c      d  e    f
0  a     c  0.954204   True  1  3.4
1  b     d  0.817043  False  2  NaN
2  c  None  0.675810   True  3  5.1

In [55]:
print(pd_df2)
alt_df2.argmin()

   a  b  c     d     e     f
0  a  c  f     i     k     m
1  b  d  g     j  None     n
2  c  e  h  None     l  None

# All

In [56]:
print(pd_df.all())
alt_df.all()

a     True
b     True
c     True
d    False
e     True
f     True
dtype: bool

In [57]:
print(pd_df.all(axis=1))
alt_df.all(axis=1)

0     True
1    False
2     True
dtype: bool

In [58]:
print(pd_df2.all())
alt_df2.all()

a    True
b    True
c    True
d    True
e    True
f    True
dtype: bool

In [59]:
print(pd_df2.all(axis=1))
alt_df2.all(axis=1)

0    True
1    True
2    True
dtype: bool

# Any

In [60]:
print(pd_df.any())
alt_df.any()

a    True
b    True
c    True
d    True
e    True
f    True
dtype: bool

In [61]:
print(pd_df.any(axis=1))
alt_df.any(axis=1)

0    True
1    True
2    True
dtype: bool

In [62]:
print(pd_df2.any())
alt_df2.any()

a    True
b    True
c    True
d    True
e    True
f    True
dtype: bool

In [63]:
print(pd_df2.any(axis=1))
alt_df2.any(axis=1)

0    True
1    True
2    True
dtype: bool

# Var

In [64]:
print(pd_df.var())
alt_df.var()

c    0.019377
d    0.333333
e    1.000000
f    1.445000
dtype: float64

In [65]:
print(pd_df.var(axis=1))
alt_df.var(axis=1)

0    1.458843
1    1.011158
2    4.191701
dtype: float64

In [66]:
print(pd_df2.var())
alt_df2.var()

Series([], dtype: float64)

[]

In [67]:
print(pd_df2.var(axis=1))
alt_df2.var(axis=1)

0   NaN
1   NaN
2   NaN
dtype: float64

# Std. Dev

In [68]:
print(pd_df.std())
alt_df.std()

c    0.139202
d    0.577350
e    1.000000
f    1.202082
dtype: float64

In [69]:
print(pd_df.std(axis=1))
alt_df.std(axis=1)

0    1.207826
1    1.005563
2    2.047365
dtype: float64

In [70]:
print(pd_df2.std())
alt_df2.std()

Series([], dtype: float64)

[]

In [71]:
print(pd_df2.std(axis=1))
alt_df2.std(axis=1)

0   NaN
1   NaN
2   NaN
dtype: float64

# isna

In [72]:
print(pd_df.isna())
alt_df.isna()

       a      b      c      d      e      f
0  False  False  False  False  False  False
1  False  False  False  False  False   True
2  False   True  False  False  False  False

In [73]:
print(pd_df2.isna())
alt_df2.isna()

       a      b      c      d      e      f
0  False  False  False  False  False  False
1  False  False  False  False   True  False
2  False  False  False   True  False   True

# Head & Tail

In [74]:
print(pd_df.head(2))
alt_df.head(2)

   a  b         c      d  e    f
0  a  c  0.954204   True  1  3.4
1  b  d  0.817043  False  2  NaN

In [75]:
print(pd_df.tail(2))
alt_df.tail(2)

   a     b         c      d  e    f
1  b     d  0.817043  False  2  NaN
2  c  None  0.675810   True  3  5.1