In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import analytica as alt
import numpy as np
import pandas as pd

In [3]:
a = np.array(['a', 'b', 'c'])
b = np.array(['c', 'd', None])
c = np.random.rand(3)
d = np.array([True, False, True])
e = np.array([1, 2, 3])
f = np.array([3.4, np.nan, 5.1])

data_dict = {'a': a, 'b': b, 'c': c, 'd': d, 'e': e, 'f':f}

In [4]:
alt_df = alt.DataFrame(data_dict)
pd_df = pd.DataFrame(data_dict)

In [5]:
print(len(alt_df))
print(len(pd_df))

3
3

In [6]:
print(alt_df.columns)
print(pd_df.columns)

['a', 'b', 'c', 'd', 'e', 'f']
Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [7]:
alt_df.columns = ['f', 'g', 'h', 'i', 'j', 'k']
pd_df.columns = ['f', 'g', 'h', 'i', 'j', 'k']

print(alt_df.columns)
print(pd_df.columns)

alt_df.columns = ['a', 'b', 'c', 'd', 'e', 'f']
pd_df.columns = ['a', 'b', 'c', 'd', 'e', 'f']

['f', 'g', 'h', 'i', 'j', 'k']
Index(['f', 'g', 'h', 'i', 'j', 'k'], dtype='object')

In [8]:
print(alt_df.shape)
print(pd_df.shape)

(3, 6)
(3, 6)

In [9]:
print(print(pd_df.dtypes))
alt_df.dtypes

a     object
b     object
c    float64
d       bool
e      int64
f    float64
dtype: object
None

In [10]:
print(alt_df.values)
print(pd_df.values)

[['a' 'c' 0.3256912127049797 True 1 3.4]
 ['b' 'd' 0.11514028692762834 False 2 nan]
 ['c' None 0.711152466568373 True 3 5.1]]
[['a' 'c' 0.3256912127049797 True 1 3.4]
 ['b' 'd' 0.11514028692762834 False 2 nan]
 ['c' None 0.711152466568373 True 3 5.1]]

In [11]:
print(pd_df['b'])
alt_df['b']

0       c
1       d
2    None
Name: b, dtype: object

In [12]:
print(pd_df[['e', 'b']])
alt_df[['e', 'b']]

   e     b
0  1     c
1  2     d
2  3  None

In [13]:
print(pd_df[d])
alt_df[alt.DataFrame({'d': d})]

   a     b         c     d  e    f
0  a     c  0.325691  True  1  3.4
2  c  None  0.711152  True  3  5.1

In [14]:
print(pd_df.iloc[1,2])
alt_df[1,2]

0.11514028692762834

In [15]:
print(pd_df.loc[1,'b'])
alt_df[1,'b']

d

In [16]:
print(pd_df.loc[d, 'b'])
alt_df[alt.DataFrame({'d': d}), 'b']

0       c
2    None
Name: b, dtype: object

In [17]:
print(pd_df.loc[[1,2], 'b'])
alt_df[[1,2], 'b']

1       d
2    None
Name: b, dtype: object

In [18]:
print(pd_df.loc[1:3, 'b'])
alt_df[1:3, 'b']

1       d
2    None
Name: b, dtype: object

In [19]:
print(pd_df.loc[1:3, ['a','b','c']])
alt_df[1:3, ['a','b','c']]

   a     b         c
1  b     d  0.115140
2  c  None  0.711152

In [20]:
print(pd_df.iloc[1:3, [0,1,2]])
alt_df[1:3, [0,1,2]]

   a     b         c
1  b     d  0.115140
2  c  None  0.711152

In [21]:
alt_df[1:3, ['a',1,2]]

In [22]:
print(pd_df.loc[1:3, 'a':'c'])
alt_df[1:3, 'a':'c']

   a     b         c
1  b     d  0.115140
2  c  None  0.711152

In [23]:
print(pd_df.iloc[1:3, :3])
alt_df[1:3, :3]

   a     b         c
1  b     d  0.115140
2  c  None  0.711152

In [24]:
print(pd_df.iloc[1])
alt_df[1]

a          b
b          d
c    0.11514
d      False
e          2
f        NaN
Name: 1, dtype: object

In [25]:
print(pd_df.iloc[[1,2]])
alt_df[[1,2]]

   a     b         c      d  e    f
1  b     d  0.115140  False  2  NaN
2  c  None  0.711152   True  3  5.1

In [26]:
print(pd_df.iloc[1:3])
alt_df[1:3]

   a     b         c      d  e    f
1  b     d  0.115140  False  2  NaN
2  c  None  0.711152   True  3  5.1

In [27]:
print(pd_df.min())
alt_df.min()

a          a
c    0.11514
d      False
e          1
f        3.4
dtype: object

In [28]:
print(pd_df.min(axis=1))
alt_df.min(axis=1)

0    0.325691
1    0.000000
2    0.711152
dtype: float64

In [29]:
print(pd_df.max())
alt_df.max()

a           c
c    0.711152
d        True
e           3
f         5.1
dtype: object

In [30]:
print(pd_df.max(axis=1))
alt_df.max(axis=1)

0    3.4
1    2.0
2    5.1
dtype: float64

In [31]:
a = np.array(['a', 'b', 'c'])
b = np.array(['c', 'd', 'e'])
c = np.array(['f', 'g', 'h'])
d = np.array(['i', 'j', None])
e = np.array(['k', None, 'l'])
f = np.array(['m', 'n', None])

data_dict = {'a': a, 'b': b, 'c': c, 'd': d, 'e': e, 'f':f}

alt_df2 = alt.DataFrame(data_dict)
pd_df2 = pd.DataFrame(data_dict)

In [32]:
print(pd_df2.min())
alt_df2.min()

a    a
b    c
c    f
dtype: object

In [33]:
print(pd_df2.min(axis=1))
alt_df2.min(axis=1)

0   NaN
1   NaN
2   NaN
dtype: float64

In [34]:
print(pd_df2.max())
alt_df2.max()

a    c
b    e
c    h
dtype: object

In [35]:
print(pd_df2.max(axis=1))
alt_df2.max(axis=1)

0   NaN
1   NaN
2   NaN
dtype: float64

In [36]:
print(pd_df2[['a','b','c']].min())
alt_df2[['a','b','c']].min()

a    a
b    c
c    f
dtype: object

In [37]:
print(pd_df2[['a','b','c']].min(axis=1))
alt_df2[['a','b','c']].min(axis=1)

0    a
1    b
2    c
dtype: object

In [38]:
print(pd_df2[['a','b','c']].max())
alt_df2[['a','b','c']].max()

a    c
b    e
c    h
dtype: object

In [39]:
print(pd_df2[['a','b','c']].max(axis=1))
alt_df2[['a','b','c']].max(axis=1)

0    f
1    g
2    h
dtype: object