In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import analytica as alt
import numpy as np
import pandas as pd

In [3]:
a = np.array(['a', 'b', 'c'])
b = np.array(['c', 'd', None])
c = np.random.rand(3)
d = np.array([True, False, True])
e = np.array([1, 2, 3])
f = np.array([3.4, np.nan, 5.1])

data_dict = {'a': a, 'b': b, 'c': c, 'd': d, 'e': e, 'f':f}

alt_df = alt.DataFrame(data_dict)
pd_df = pd.DataFrame(data_dict)

In [4]:
a1 = np.array(['a', 'b', 'c'])
b1 = np.array(['c', 'd', 'e'])
c1 = np.array(['f', 'g', 'h'])
d1 = np.array(['i', 'j', None])
e1 = np.array(['k', None, 'l'])
f1 = np.array(['m', 'n', None])

data_dict = {'a': a1, 'b': b1, 'c': c1, 'd': d1, 'e': e1, 'f':f1}

alt_df2 = alt.DataFrame(data_dict)
pd_df2 = pd.DataFrame(data_dict)

In [5]:
print(len(alt_df))
print(len(pd_df))

3
3

In [6]:
print(alt_df.columns)
print(pd_df.columns)

['a', 'b', 'c', 'd', 'e', 'f']
Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [7]:
alt_df.columns = ['f', 'g', 'h', 'i', 'j', 'k']
pd_df.columns = ['f', 'g', 'h', 'i', 'j', 'k']

print(alt_df.columns)
print(pd_df.columns)

alt_df.columns = ['a', 'b', 'c', 'd', 'e', 'f']
pd_df.columns = ['a', 'b', 'c', 'd', 'e', 'f']

['f', 'g', 'h', 'i', 'j', 'k']
Index(['f', 'g', 'h', 'i', 'j', 'k'], dtype='object')

In [8]:
print(alt_df.shape)
print(pd_df.shape)

(3, 6)
(3, 6)

In [9]:
print(print(pd_df.dtypes))
alt_df.dtypes

a     object
b     object
c    float64
d       bool
e      int64
f    float64
dtype: object
None

In [10]:
print(alt_df.values)
print(pd_df.values)

[['a' 'c' 0.772501729666916 True 1 3.4]
 ['b' 'd' 0.5831835240988922 False 2 nan]
 ['c' None 0.7306441063513122 True 3 5.1]]
[['a' 'c' 0.772501729666916 True 1 3.4]
 ['b' 'd' 0.5831835240988922 False 2 nan]
 ['c' None 0.7306441063513122 True 3 5.1]]

# Col Indexing

In [11]:
print(pd_df['b'])
alt_df['b']

0       c
1       d
2    None
Name: b, dtype: object

In [12]:
print(pd_df[['e', 'b']])
alt_df[['e', 'b']]

   e     b
0  1     c
1  2     d
2  3  None

In [13]:
print(pd_df[d])
alt_df[alt.DataFrame({'d': d})]

   a     b         c     d  e    f
0  a     c  0.772502  True  1  3.4
2  c  None  0.730644  True  3  5.1

In [14]:
print(pd_df.iloc[1,2])
alt_df[1,2]

0.5831835240988922

In [15]:
print(pd_df.loc[1,'b'])
alt_df[1,'b']

d

In [16]:
print(pd_df.loc[d, 'b'])
alt_df[alt.DataFrame({'d': d}), 'b']

0       c
2    None
Name: b, dtype: object

# Row, Col Indexing

In [17]:
print(pd_df.loc[[1,2], 'b'])
alt_df[[1,2], 'b']

1       d
2    None
Name: b, dtype: object

In [18]:
print(pd_df.loc[1:3, 'b'])
alt_df[1:3, 'b']

1       d
2    None
Name: b, dtype: object

In [19]:
print(pd_df.loc[1:3, ['a','b','c']])
alt_df[1:3, ['a','b','c']]

   a     b         c
1  b     d  0.583184
2  c  None  0.730644

In [20]:
print(pd_df.iloc[1:3, [0,1,2]])
alt_df[1:3, [0,1,2]]

   a     b         c
1  b     d  0.583184
2  c  None  0.730644

In [21]:
alt_df[1:3, ['a',1,2]]

In [22]:
print(pd_df.loc[1:3, 'a':'c'])
alt_df[1:3, 'a':'c']

   a     b         c
1  b     d  0.583184
2  c  None  0.730644

In [23]:
print(pd_df.iloc[1:3, :3])
alt_df[1:3, :3]

   a     b         c
1  b     d  0.583184
2  c  None  0.730644

# Row Indexing

In [24]:
print(pd_df.iloc[1])
alt_df[1]

a           b
b           d
c    0.583184
d       False
e           2
f         NaN
Name: 1, dtype: object

In [25]:
print(pd_df.iloc[[1,2]])
alt_df[[1,2]]

   a     b         c      d  e    f
1  b     d  0.583184  False  2  NaN
2  c  None  0.730644   True  3  5.1

In [26]:
print(pd_df.iloc[1:3])
alt_df[1:3]

   a     b         c      d  e    f
1  b     d  0.583184  False  2  NaN
2  c  None  0.730644   True  3  5.1

# Min

In [27]:
print(pd_df.min())
alt_df.min()

a           a
c    0.583184
d       False
e           1
f         3.4
dtype: object

In [28]:
print(pd_df.min(axis=1))
alt_df.min(axis=1)

0    0.772502
1    0.000000
2    0.730644
dtype: float64

In [29]:
print(pd_df2.min())
alt_df2.min()

a    a
b    c
c    f
dtype: object

In [30]:
print(pd_df2.min(axis=1))
alt_df2.min(axis=1)

0   NaN
1   NaN
2   NaN
dtype: float64

In [31]:
print(pd_df2[['a','b','c']].min())
alt_df2[['a','b','c']].min()

a    a
b    c
c    f
dtype: object

In [32]:
print(pd_df2[['a','b','c']].min(axis=1))
alt_df2[['a','b','c']].min(axis=1)

0    a
1    b
2    c
dtype: object

# Max

In [33]:
print(pd_df.max())
alt_df.max()

a           c
c    0.772502
d        True
e           3
f         5.1
dtype: object

In [34]:
print(pd_df.max(axis=1))
alt_df.max(axis=1)

0    3.4
1    2.0
2    5.1
dtype: float64

In [35]:
print(pd_df2.max())
alt_df2.max()

a    c
b    e
c    h
dtype: object

In [36]:
print(pd_df2.max(axis=1))
alt_df2.max(axis=1)

0   NaN
1   NaN
2   NaN
dtype: float64

In [37]:
print(pd_df2[['a','b','c']].max())
alt_df2[['a','b','c']].max()

a    c
b    e
c    h
dtype: object

In [38]:
print(pd_df2[['a','b','c']].max(axis=1))
alt_df2[['a','b','c']].max(axis=1)

0    f
1    g
2    h
dtype: object

# Mean

In [39]:
print(pd_df.mean())
alt_df.mean()

c    0.695443
d    0.666667
e    2.000000
f    4.250000
dtype: float64

In [40]:
print(pd_df.mean(axis=1))
alt_df.mean(axis=1)

0    1.543125
1    0.861061
2    2.457661
dtype: float64

In [41]:
print(pd_df2.mean())
alt_df2.mean()

Series([], dtype: float64)

[]

In [42]:
print(pd_df2.mean(axis=1))
alt_df2.mean(axis=1)

0   NaN
1   NaN
2   NaN
dtype: float64

# Median

In [43]:
print(pd_df.median())
alt_df.median()

c    0.730644
d    1.000000
e    2.000000
f    4.250000
dtype: float64

In [44]:
print(pd_df.median(axis=1))
alt_df.median(axis=1)

0    1.000000
1    0.583184
2    2.000000
dtype: float64

In [45]:
print(pd_df2.median())
alt_df2.median()

Series([], dtype: float64)

[]

In [46]:
print(pd_df2.median(axis=1))
alt_df2.median(axis=1)

0   NaN
1   NaN
2   NaN
dtype: float64

# Sum

In [47]:
print(pd_df.sum())
alt_df.sum()

a        abc
c    2.08633
d          2
e          6
f        8.5
dtype: object

In [48]:
print(pd_df.sum(axis=1))
alt_df.sum(axis=1)

0    6.172502
1    2.583184
2    9.830644
dtype: float64

In [49]:
print(pd_df2.sum())
alt_df2.sum()

a    abc
b    cde
c    fgh
dtype: object

In [50]:
print(pd_df2.sum(axis=1))
alt_df2.sum(axis=1)

0    0.0
1    0.0
2    0.0
dtype: float64

# ArgMax

In [51]:
print(pd_df)
alt_df.argmax()

   a     b         c      d  e    f
0  a     c  0.772502   True  1  3.4
1  b     d  0.583184  False  2  NaN
2  c  None  0.730644   True  3  5.1

In [52]:
print(pd_df2)
alt_df2.argmax()

   a  b  c     d     e     f
0  a  c  f     i     k     m
1  b  d  g     j  None     n
2  c  e  h  None     l  None

# ArgMin

In [53]:
print(pd_df)
alt_df.argmin()

   a     b         c      d  e    f
0  a     c  0.772502   True  1  3.4
1  b     d  0.583184  False  2  NaN
2  c  None  0.730644   True  3  5.1

In [54]:
print(pd_df2)
alt_df2.argmin()

   a  b  c     d     e     f
0  a  c  f     i     k     m
1  b  d  g     j  None     n
2  c  e  h  None     l  None

# All

In [55]:
print(pd_df.all())
alt_df.all()

a     True
b     True
c     True
d    False
e     True
f     True
dtype: bool

In [56]:
print(pd_df.all(axis=1))
alt_df.all(axis=1)

0     True
1    False
2     True
dtype: bool

In [57]:
print(pd_df2.all())
alt_df2.all()

a    True
b    True
c    True
d    True
e    True
f    True
dtype: bool

In [58]:
print(pd_df2.all(axis=1))
alt_df2.all(axis=1)

0    True
1    True
2    True
dtype: bool

# Any

In [59]:
print(pd_df.any())
alt_df.any()

a    True
b    True
c    True
d    True
e    True
f    True
dtype: bool

In [60]:
print(pd_df.any(axis=1))
alt_df.any(axis=1)

0    True
1    True
2    True
dtype: bool

In [61]:
print(pd_df2.any())
alt_df2.any()

a    True
b    True
c    True
d    True
e    True
f    True
dtype: bool

In [62]:
print(pd_df2.any(axis=1))
alt_df2.any(axis=1)

0    True
1    True
2    True
dtype: bool

# Var

In [63]:
print(pd_df.var())
alt_df.var()

c    0.009890
d    0.333333
e    1.000000
f    1.445000
dtype: float64

In [64]:
print(pd_df.var(axis=1))
alt_df.var(axis=1)

0    1.543938
1    1.057912
2    4.127817
dtype: float64

In [65]:
print(pd_df2.var())
alt_df2.var()

Series([], dtype: float64)

[]

In [66]:
print(pd_df2.var(axis=1))
alt_df2.var(axis=1)

0   NaN
1   NaN
2   NaN
dtype: float64

# Std. Dev

In [67]:
print(pd_df.std())
alt_df.std()

c    0.099447
d    0.577350
e    1.000000
f    1.202082
dtype: float64

In [68]:
print(pd_df.std(axis=1))
alt_df.std(axis=1)

0    1.242553
1    1.028548
2    2.031703
dtype: float64

In [69]:
print(pd_df2.std())
alt_df2.std()

Series([], dtype: float64)

[]

In [70]:
print(pd_df2.std(axis=1))
alt_df2.std(axis=1)

0   NaN
1   NaN
2   NaN
dtype: float64

# isna

In [71]:
print(pd_df.isna())
alt_df.isna()

       a      b      c      d      e      f
0  False  False  False  False  False  False
1  False  False  False  False  False   True
2  False   True  False  False  False  False

In [72]:
print(pd_df2.isna())
alt_df2.isna()

       a      b      c      d      e      f
0  False  False  False  False  False  False
1  False  False  False  False   True  False
2  False  False  False   True  False   True

# Head & Tail

In [73]:
print(pd_df.head(2))
alt_df.head(2)

   a  b         c      d  e    f
0  a  c  0.772502   True  1  3.4
1  b  d  0.583184  False  2  NaN

In [74]:
print(pd_df.tail(2))
alt_df.tail(2)

   a     b         c      d  e    f
1  b     d  0.583184  False  2  NaN
2  c  None  0.730644   True  3  5.1

# Count

In [75]:
print(pd_df.count())
alt_df.count()

a    3
b    2
c    3
d    3
e    3
f    2
dtype: int64

In [76]:
print(pd_df.count(axis=1))
alt_df.count(axis=1)

0    6
1    5
2    5
dtype: int64

In [77]:
print(pd_df2.count())
alt_df2.count()

a    3
b    3
c    3
d    2
e    2
f    2
dtype: int64

In [78]:
print(pd_df2.count(axis=1))
alt_df2.count(axis=1)

0    6
1    5
2    4
dtype: int64

# Rename

In [79]:
print(pd_df.rename(columns={'a':'A','c':'C'}))
alt_df.rename({'a':'A','c':'C'})

   A     b         C      d  e    f
0  a     c  0.772502   True  1  3.4
1  b     d  0.583184  False  2  NaN
2  c  None  0.730644   True  3  5.1

# Setting Values

In [80]:
alt_df['g'] = 1
alt_df

In [81]:
alt_df['h'] = 'k'
alt_df

In [82]:
alt_df['i'] = np.random.rand(3)
alt_df

In [83]:
alt_df['j'] = ['w','q','r']
alt_df

In [84]:
alt_df['k'] = np.array([36,98,21])
alt_df

In [85]:
alt_df[1,'b'] = 'r'
alt_df

In [86]:
alt_df[[1,2],'f'] = 3.145668
alt_df

In [87]:
alt_df[1:3,'g'] = 66
alt_df

In [88]:
alt_df.dtypes

In [89]:
a = np.array(['a', 'b', 'c'])
b = np.array(['c', 'd', None])
c = np.random.rand(3)
d = np.array([True, False, True])
e = np.array([1, 2, 3])
f = np.array([3.4, np.nan, 5.1])

data_dict = {'a': a, 'b': b, 'c': c, 'd': d, 'e': e, 'f':f}

alt_df = alt.DataFrame(data_dict)
pd_df = pd.DataFrame(data_dict)

In [90]:
a1 = np.array(['a', 'b', 'c'])
b1 = np.array(['c', 'd', 'e'])
c1 = np.array(['f', 'g', 'h'])
d1 = np.array(['i', 'j', None])
e1 = np.array(['k', None, 'l'])
f1 = np.array(['m', 'n', None])

data_dict = {'a': a1, 'b': b1, 'c': c1, 'd': d1, 'e': e1, 'f':f1}

alt_df2 = alt.DataFrame(data_dict)
pd_df2 = pd.DataFrame(data_dict)

# Airthemetic Operators

In [91]:
numeric_alt_df = alt_df[['c','d','e','f']]
numeric_pd_df = pd_df[['c','d','e','f']]

print(numeric_pd_df)
numeric_alt_df

          c      d  e    f
0  0.694045   True  1  3.4
1  0.542970  False  2  NaN
2  0.796624   True  3  5.1

## Add

In [92]:
print(numeric_pd_df + 6)
numeric_alt_df + 6

          c  d  e     f
0  6.694045  7  7   9.4
1  6.542970  6  8   NaN
2  6.796624  7  9  11.1

In [93]:
print(pd_df2 + 'SS')
alt_df2 + 'SS'

     a    b    c    d    e    f
0  aSS  cSS  fSS  iSS  kSS  mSS
1  bSS  dSS  gSS  jSS  NaN  nSS
2  cSS  eSS  hSS  NaN  lSS  NaN

In [94]:
print(6 + numeric_pd_df)
6 + numeric_alt_df

          c  d  e     f
0  6.694045  7  7   9.4
1  6.542970  6  8   NaN
2  6.796624  7  9  11.1

In [95]:
print('SS' + pd_df2)
'SS' + alt_df2

     a    b    c    d    e    f
0  SSa  SSc  SSf  SSi  SSk  SSm
1  SSb  SSd  SSg  SSj  NaN  SSn
2  SSc  SSe  SSh  NaN  SSl  NaN

## Sub

In [96]:
print(numeric_pd_df - 6)
numeric_alt_df - 6

          c  d  e    f
0 -5.305955 -5 -5 -2.6
1 -5.457030 -6 -4  NaN
2 -5.203376 -5 -3 -0.9

In [97]:
print(6 - numeric_pd_df)
6 - numeric_alt_df

          c  d  e    f
0  5.305955  5  5  2.6
1  5.457030  6  4  NaN
2  5.203376  5  3  0.9

## Mul

In [98]:
print(numeric_pd_df * 6)
numeric_alt_df * 6

          c  d   e     f
0  4.164267  6   6  20.4
1  3.257819  0  12   NaN
2  4.779746  6  18  30.6

In [99]:
print(pd_df2 * 3)
alt_df2 * 3

     a    b    c    d    e    f
0  aaa  ccc  fff  iii  kkk  mmm
1  bbb  ddd  ggg  jjj  NaN  nnn
2  ccc  eee  hhh  NaN  lll  NaN

In [100]:
print(6 * numeric_pd_df)
6 * numeric_alt_df

          c  d   e     f
0  4.164267  6   6  20.4
1  3.257819  0  12   NaN
2  4.779746  6  18  30.6

In [101]:
print(3 * pd_df2)
3 * alt_df2

     a    b    c    d    e    f
0  aaa  ccc  fff  iii  kkk  mmm
1  bbb  ddd  ggg  jjj  NaN  nnn
2  ccc  eee  hhh  NaN  lll  NaN

## Div

In [102]:
print(numeric_pd_df / 6)
numeric_alt_df / 6

          c         d         e         f
0  0.115674  0.166667  0.166667  0.566667
1  0.090495  0.000000  0.333333       NaN
2  0.132771  0.166667  0.500000  0.850000

In [103]:
print(numeric_pd_df // 2)
numeric_alt_df // 2

     c  d  e    f
0  0.0  0  0  1.0
1  0.0  0  1  NaN
2  0.0  0  1  2.0

In [104]:
print(6 / numeric_pd_df)
6 / numeric_alt_df

           c    d    e         f
0   8.644978  6.0  6.0  1.764706
1  11.050336  inf  3.0       NaN
2   7.531782  6.0  2.0  1.176471

/home/najaf/Documents/Analytica/analytica/__init__.py:416: RuntimeWarning: divide by zero encountered in true_divide
  data[col] = func(val)

In [105]:
print(6 // numeric_pd_df)
6 // numeric_alt_df

      c    d  e    f
0   8.0  6.0  6  1.0
1  11.0  inf  3  NaN
2   7.0  6.0  2  1.0

/home/najaf/Documents/Analytica/analytica/__init__.py:416: RuntimeWarning: divide by zero encountered in floor_divide
  data[col] = func(val)

## Pow

In [106]:
print(numeric_pd_df**2)
numeric_alt_df**2

          c  d  e      f
0  0.481698  1  1  11.56
1  0.294816  0  4    NaN
2  0.634610  1  9  26.01

In [107]:
print(6**numeric_pd_df)
6**numeric_alt_df

          c  d    e            f
0  3.467941  6    6   442.297262
1  2.645530  1   36          NaN
2  4.167678  6  216  9301.893802

## >=

In [108]:
print(numeric_pd_df > 0.2)
numeric_alt_df > 0.2

      c      d     e      f
0  True   True  True   True
1  True  False  True  False
2  True   True  True   True

/home/najaf/Documents/Analytica/analytica/__init__.py:416: RuntimeWarning: invalid value encountered in greater
  data[col] = func(val)

In [109]:
print(numeric_pd_df >= 0.2)
numeric_alt_df >= 0.2

      c      d     e      f
0  True   True  True   True
1  True  False  True  False
2  True   True  True   True

/home/najaf/Documents/Analytica/analytica/__init__.py:416: RuntimeWarning: invalid value encountered in greater_equal
  data[col] = func(val)

In [110]:
print(pd_df2 > 'b')
alt_df2 > 'b'

       a     b     c      d      e      f
0  False  True  True   True   True   True
1  False  True  True   True  False   True
2   True  True  True  False   True  False

In [111]:
print(pd_df2 >= 'b')
alt_df2 >= 'b'

       a     b     c      d      e      f
0  False  True  True   True   True   True
1   True  True  True   True  False   True
2   True  True  True  False   True  False

## <=

In [112]:
print(numeric_pd_df < 0.2)
numeric_alt_df < 0.2

       c      d      e      f
0  False  False  False  False
1  False   True  False  False
2  False  False  False  False

/home/najaf/Documents/Analytica/analytica/__init__.py:416: RuntimeWarning: invalid value encountered in less
  data[col] = func(val)

In [113]:
print(numeric_pd_df <= 0.2)
numeric_alt_df <= 0.2

       c      d      e      f
0  False  False  False  False
1  False   True  False  False
2  False  False  False  False

/home/najaf/Documents/Analytica/analytica/__init__.py:416: RuntimeWarning: invalid value encountered in less_equal
  data[col] = func(val)

In [114]:
print(pd_df2 < 'b')
alt_df2 < 'b'

       a      b      c      d      e      f
0   True  False  False  False  False  False
1  False  False  False  False  False  False
2  False  False  False  False  False  False

In [115]:
print(pd_df2 <= 'b')
alt_df2 <= 'b'

       a      b      c      d      e      f
0   True  False  False  False  False  False
1   True  False  False  False  False  False
2  False  False  False  False  False  False

## ==, !=

In [116]:
print(numeric_pd_df == 0.2000)
numeric_alt_df == 0.2000

       c      d      e      f
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False

In [117]:
print(numeric_pd_df != 0.2)
numeric_alt_df != 0.2

      c     d     e     f
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True

In [118]:
print(pd_df2 == 'b')
alt_df2 == 'b'

       a      b      c      d      e      f
0  False  False  False  False  False  False
1   True  False  False  False  False  False
2  False  False  False  False  False  False

In [119]:
print(pd_df2 != 'b')
alt_df2 != 'b'

       a     b     c     d     e     f
0   True  True  True  True  True  True
1  False  True  True  True  True  True
2   True  True  True  True  True  True